node_modules/
/test-results/
/playwright-report/
/playwright/.cache/


## CF https://github.com/gregrickaby/nextjs-github-pages/blob/main/.gitignore


# dependencies
node_modules/

# next.js
.next/
out/
build/

# misc
.DS_Store
.env*
